*{
     
      list-style: none;
      text-decoration: none;
}

body{
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content {
      font-size: 19px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
      width: 85%;
      height: 100px;
      margin-top: 50px;
      
}

.header th {
      color: black;
      font-family: 'Poppins',sans-serif;
}

table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
td, th {
      border: 1px solid grey;
      text-align: left;
      padding: 8px;
      color: black;
}

.button-container{
      margin-top: 50px;
      height: 50px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
}

.create-button, .logout-button{
      height: 100%;
      width: 120px;
      background-color: #f95959;
      font-family: 'Poppins',sans-serif;
      border-radius: 20px;
      display: grid;
      place-items: center;
      font-size: 16px;
      text-decoration: none;
      color: black;
}

.logout-button{
    
      background-color: #f95959;
      
}

.create-button:hover {
      background-color: #c7b198;
      color: black;
      transition: 0.3s;
      cursor: pointer;
}

.logout-button:hover {
      background-color: #c7b198;
      color: black;
      transition: 0.3s;
      cursor: pointer;  
}

/* .update-button {
      height: 100%;
      width: 120px;
      background-color: #3d81ff;
      font-family: 'Poppins',sans-serif;
      border-radius: 20px;
      display: inline-block;
      place-items: center;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      color: white;
} */

.update-delete {
    line-height: 40px;
    margin-top: 10px; 
}

.update, .delete {
      height: 100%;
      width: 120px;
      background-color: #d40b0b;
      font-family: 'Poppins',sans-serif;
      border-radius: 20px;
      display: inline-block;
      text-align: center;
      font-size: 16px;
      text-decoration: none;
      color: white;
}

