*{
     
      list-style: none;
      text-decoration: none;
}

body{
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #233142;
}



.button-container{
      margin-top: 50px;
      height: 50px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
}

.create-button, .logout-button{
      height: 100%;
      width: 120px;
      background-color: #f95959;
      border-radius: 20px;
      display: grid;
      place-items: center;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      color:#fff2e2
}

.logout-button{
    
      background-color: #f95959;
      
}

.create-button:hover {
      background-color: #c7b198;
      color: black;
      transition: 0.3s;
      cursor: pointer;
}

.logout-button:hover {
      background-color: #c7b198;
      color: black;
      transition: 0.3s;
      cursor: pointer;
}

.nav-bar{
      width: 80%;
      height: 50px;
      background-color: #f95959;
      margin-top: 30px;
      border: 2px solid black;
}

.nav-bar ul{
      display: flex;
      justify-content: center;
      align-items: center;
}

.nav-bar ul li {
      height: 100%;
      width: 25%;
      background-color: #f95959;
      display: grid;
      place-items: center;
}

.nav-bar ul li a{
      font-size: 20px;
      color: black;
      width: 57.5%;
}