* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: whitesmoke;
    height: 100vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: 'Poppins',sans-serif;
    color: #303841;
}

p {
    text-align: center;
    margin-top: 35px;
    font-size: 17px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #303841;
}

a {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    letter-spacing: 2px;
    color: black;
}

.clock-time {
    background: whitesmoke;
    box-shadow:
    inset 0 -3em 3em rgba(66, 68, 66, 0.3),
    0 0 0 2px white,
    0.3em 0.3em 1em rgba(42, 42, 42, 0.6);
    border-radius: 30px;
    height: 25%;
    width: 30%;
    position: relative;
    left: 35%;
}

#timenow {
    font-family:'digital-clock-font';
    position: relative;
    top: 90px;
    left: 10px;
    color: #303841;
}

.btn input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
}

.form-text {
    height: 45px;
    width: 13%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    position: relative;
    top: 30%;
    left: 20px;
  }
  .form-text:focus,
  .form-text:valid{
    border-color: #9b59b6;
  }

/* height: 100%;
   width: 100%;
   margin-top: 10px;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6); */